<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col col-9></ion-col>
          <ion-col col-3 style="text-align: right;"> 
              <ion-icon style="font-size: 20px; color:white;" (click)="goToUsersPage()" item-right="" name="person-add" role="img" class="icon icon-lg ion-lg-person-add item-icon" ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content class="color-fondo">
  <ion-card *ngFor="let publicacion of publicacionesInfo">
    <ion-item>
      <ion-avatar item-start>
        <img src="http://192.168.1.73/bigApp/bigApp/web/uploads/usuario/fotosPerfil/{{publicacion.fotoPerfil}}">
      </ion-avatar>
      <h2>{{publicacion.nombres}}</h2>
      <p>{{publicacion.fecha| date}}</p>
    </ion-item>
    <img *ngIf="publicacion.imagen !=null" src="http://192.168.1.73/bigApp/bigApp/web/uploads/publicaciones/{{publicacion.imagen}}">
    <img (click)='goToVideo(publicacion.urlVideo)' *ngIf="publicacion.urlVideo !=null" src="{{publicacion.imagenVideo}}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    <ion-card-content>
      <p>{{publicacion.contenido}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small on-click="goToComentarios(publicacion.id)">
          <ion-icon name="text"></ion-icon>
          <div>Comentarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ publicacion.fecha | amLocale:'es' | amTimeAgo  }} 
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
 