<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{usuario.nombres}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page3" class="color-fondo">
  <img src="http://192.168.1.61/bigApp/bigApp/web/uploads/usuario/fotosPortada/{{usuario.fotoPortada}}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-list id="perfil-list7">
    <ion-item color="none" id="perfil-list-item31">
      <ion-avatar item-left>
        <img src="http://192.168.1.61/bigApp/bigApp/web/uploads/usuario/fotosPerfil/{{usuario.fotoPerfil}}" />
      </ion-avatar>
      <h2>
        {{usuario.username}}
      </h2>
    </ion-item>
    <ion-grid style="background-color: white"> 
      <ion-row>
        <ion-col col-4><button (click)='goToNewPostPage(usuario)' ion-button color="dark" clear block large > <ion-icon name="image" style="font-size: 2.7em;"></ion-icon></button></ion-col>
        <ion-col col-4><button (click)='goToNewPostVideoPage(usuario)' ion-button color="dark" clear block large > <ion-icon name="logo-youtube" style="font-size: 2.7em;"></ion-icon></button></ion-col>
        <ion-col col-4><button (click)='goToNewPostTextPage(usuario)' ion-button color="dark" clear block large > <ion-icon name="text" style="font-size: 2.7em;"></ion-icon></button></ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-list>
  <ion-card *ngFor="let publicacion of publicacionesInfo">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://192.168.1.61/bigApp/bigApp/web/uploads/usuario/fotosPerfil/{{publicacion.fotoPerfil}}">
        </ion-avatar>
        <h2>{{publicacion.nombres}}</h2>
        <p>{{publicacion.fecha| date}}</p>
      </ion-item>
      <img *ngIf="publicacion.imagen !=null" src="http://192.168.1.75/bigApp/bigApp/web/uploads/publicaciones/{{publicacion.imagen}}">
      <img (click)='goToVideo(publicacion.urlVideo)' *ngIf="publicacion.urlVideo !=null" src="{{publicacion.imagenVideo}}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
      <ion-card-content>
        <p>{{publicacion.contenido}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small on-click="goToComentarios(publicacion.id)">
            <ion-icon name="text"></ion-icon>
            <div>Comentarios</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{ publicacion.fecha | amLocale:'es' | amTimeAgo  }} 
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>