<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{usuario.nombres}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page3" class="color-fondo">
  <img src="http://192.168.1.75/bigApp/bigApp/web/uploads/usuario/fotosPortada/{{usuario.fotoPortada}}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-list id="perfil-list7">
    <ion-item color="none" id="perfil-list-item31">
      <ion-avatar item-left>
        <img src="http://192.168.1.75/bigApp/bigApp/web/uploads/usuario/fotosPerfil/{{usuario.fotoPerfil}}" />
      </ion-avatar>
      <h2>
        {{usuario.username}}
      </h2>
    </ion-item>
  </ion-list>
  <ion-card id="perfil-card27">
    <ion-list>
    </ion-list>
  </ion-card>
  <ion-card *ngFor="let publicacion of publicaciones">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://192.168.1.75/bigApp/bigApp/web/uploads/usuario/fotosPerfil/{{publicacion.fotoPerfil}}">
        </ion-avatar>
        <h2>{{publicacion.nombres}}</h2>
        <p>{{publicacion.fecha| date}}</p>
      </ion-item>
      <img *ngIf="publicacion.imagen !=null" src="http://192.168.1.75/bigApp/bigApp/web/uploads/publicaciones/{{publicacion.imagen}}">
      <iframe *ngIf="publicacion.urlVideo !=null" width="100%" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(publicacion.urlVideo)' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <ion-card-content>
        <p>{{publicacion.contenido}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small on-click="goToComentarios(publicacion.id)">
            <ion-icon name="text"></ion-icon>
            <div>Comentarios</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>