<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Empresas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5" class="color-fondo">
  <ion-searchbar [(ngModel)]="empresaNombre" (ionInput)="onFilltro()"></ion-searchbar>
  <ion-grid *ngIf="!spiner">
    <ion-row >  
      <ion-col col-12 text-center >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row> 
  </ion-grid>
  <div *ngIf="spiner">
    <ion-card *ngFor="let empresa of empresas" on-click="presentActionSheet(empresa)">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://bigapp123.herokuapp.com/web/uploads/empresa/fotosLogo/{{ empresa.logoEmpresa }}">
        </ion-avatar>
        <h2>{{empresa.nombreEmpresa}}</h2>
        <p>November 5, 1955</p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>