<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Conversaciones
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <button id="conversaciones-button20" ion-button color="positive" block on-click="goToContactos()">
    Contactos
  </button>
  <ion-list *ngIf="spiner">

    <ion-item *ngFor="let conversacion of conversaciones" (click)="goToChat(conversacion)" > 
      <ion-avatar item-left>
        <img src="http://192.168.1.73/bigApp/bigApp/web/uploads/usuario/fotosPerfil/{{conversacion.foto}}">
      </ion-avatar>
    <h2>{{conversacion.oneSignalId}}</h2>
    <!-- <p>If at first you don’t succeed, call it version 1.0</p> --> 
    </ion-item>
    
  </ion-list>
  <ion-grid *ngIf="!spiner">
    <ion-row >  
      <ion-col col-12 text-center >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>