<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Municipios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page4" class="color-fondo">

  <ion-list *ngIf="tipo == 'empresa'">
    <button  ion-item *ngFor="let municipio of municipios" on-click="goToEmpresas(municipio)">
      {{municipio.nombre}}
    </button>  
  </ion-list>

  <ion-list *ngIf="tipo == 'producto'">
    <button  ion-item *ngFor="let municipio of municipios" on-click="goToCategorias(municipio)">
      {{municipio.nombre}}
    </button>  
  </ion-list>

  <ion-grid *ngIf="!municipios">
    <ion-row >  
      <ion-col col-12 text-center >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
