
<ion-content id="page6">
    <ion-grid *ngIf="!spiner">
      <ion-row >  
        <ion-col col-12 text-center >
          <ion-spinner name="crescent"></ion-spinner>
        </ion-col>
      </ion-row> 
    </ion-grid>
    
  <div *ngIf="spiner">
    <img src="http://bigapp123.herokuapp.com/web/uploads/empresa/fotosPortada/{{empresa.portada}}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    <ion-item>
      <ion-label >Calificacion</ion-label>
      <ion-select [(ngModel)]="valorCalificacion" interface="action-sheet" (ionChange)="onChangeCalificacion($event)">
          <ion-option *ngFor="let valor of valoresCalificacion" [value]="valor.value" >{{valor.label}}</ion-option>
      </ion-select>
    </ion-item> 
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="calificacion + '%'">
          {{calificacion}}%
      </div>
    </div>
    <ion-item >
      <div style="text-align:center;">
          <button *ngIf='propietario' ion-button color="dark" on-click="goToSubasta('subastaEmpresa')"  block>Subastas</button>
          <button *ngIf='propietario' ion-button color="dark" on-click="goToPedido()"  block>Pedidos</button>
          
          {{empresa.nombre}}
          <ion-avatar >
            <img style='margin:10px auto;display:block;' src="http://bigapp123.herokuapp.com/web/uploads/empresa/fotosLogo/{{empresa.logo}}">
          </ion-avatar>
          <h2></h2>
          <div>
            <p>{{empresa.descripcion}}</p>
          </div>
          <ion-icon on-click="goToMapa(empresa)" style="font-size: 50px;" name="navigate"></ion-icon>
          <h4>Visitanos</h4>
      </div>
      <div style="text-align:center;">
        <a *ngFor="let red of redes" href="{{red.url}}" target="_blank">
          <ion-icon  style='font-size:2em;padding: 10px;' name="logo-{{red.nombre}}" ></ion-icon>
        </a>
      </div> 
    </ion-item>
    <h4 id="empresa-heading2" style="color:#000000;text-align:center;">
      Productos
    </h4>
    <ion-card *ngFor="let producto of productos">
      <img src="http://bigapp123.herokuapp.com/web/uploads/producto/{{ producto.imagen }}"/>
      <ion-card-content>
        <ion-card-title>
          <h2>{{ producto.nombreProducto }}</h2>
          <h3>${{ producto.valor }}</h3>  
          </ion-card-title>
        <p>
          {{ producto.descripcion }} 
        </p>
      </ion-card-content>
      <ion-row>
        <ion-col col-4>
          <button on-click="goToChat(producto)" style="color:#c62828" ion-button icon-start clear big>
            <ion-icon name="text"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button on-click="goToMap(producto)" ion-button icon-start clear big>
            <ion-icon name="navigate" style="color:#8e0000"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button on-click="goToEmpresa(producto.idEmpresa)" style="color:#ff5f52" ion-button icon-start clear big>
            <ion-icon name="briefcase"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  
</ion-content>
