
<ion-content id="page1" class="color-fondo" *ngIf="!spiner">
  <ion-slides pager>
    
    <ion-slide>
        <img src="https://as01.epimg.net/meristation/imagenes/2017/04/21/noticia/1492737600_212349_1532094738_sumario_normal.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </ion-slide>
      
    <ion-slide >
        <img src="https://i.blogs.es/de368e/dota-2-wallpaper/450_1000.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;"/>
    </ion-slide>
      
    <ion-slide >
        <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;"/>
    </ion-slide> 
  </ion-slides>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-scroll scrollX="true" class="scroll">
        <ion-card>
            <ion-item>
              <ion-avatar item-start>
                <img on-click="goToEmpresa()" src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
              </ion-avatar>
              <h2> 
                  Marty McFly
                  <p align="right" style="position:relative; top:-15px;">
                      <ion-icon align="right"  (click)="presentPopover($event)"  name="more"></ion-icon>
                  </p>
              </h2>
              <p style='margin-top: -16px;'>November 5, 1955  
                </p>
            </ion-item>
            <img on-click="goToEmpresa()" src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
        </ion-card>
        <ion-card>
            <ion-item>
                
              <ion-avatar item-start>
                <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
              </ion-avatar>
              <h2>Marty McFly 
                  <p align="right" style="position:relative; top:-15px;">
                      <ion-icon align="right"  (click)="presentPopover($event)"  name="more"></ion-icon>
                  </p>
              </h2>
              <p style='margin-top: -16px;'>November 5, 1955  
                </p>
            </ion-item>
            <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
        </ion-card>
        <ion-card>
            <ion-item>
                
              <ion-avatar item-start>
                <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
              </ion-avatar>
              <h2>Marty McFly 
                  <p align="right" style="position:relative; top:-15px;">
                      <ion-icon align="right"  (click)="presentPopover($event)"  name="more"></ion-icon>
                  </p>
              </h2>
              <p style='margin-top: -16px;'>November 5, 1955  
                </p>
            </ion-item>
            <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
        </ion-card>
        <ion-card>
            <ion-item>
                
              <ion-avatar item-start>
                <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
              </ion-avatar>
              <h2>Marty McFly 
                  <p align="right" style="position:relative; top:-15px;">
                      <ion-icon align="right"  (click)="presentPopover($event)"  name="more"></ion-icon>
                  </p>
              </h2>
              <p style='margin-top: -16px;'>November 5, 1955  
                </p>
            </ion-item>
            <img src="https://i.blogs.es/ebf9a2/dota-2/450_1000.jpg">
        </ion-card>
    </ion-scroll>

  <!-- <button id="bigApp-button4" ion-button color="positive" style="text-align:left;border-radius:0px 0px 0px 0px;" on-click="goToEmpresa()">
    Empresa 1
  </button>
  <button id="bigApp-button5" ion-button color="positive" style="border-radius:0px 0px 0px 0px;" on-click="goToEmpresa()">
    Empresa 2
  </button>
  <button id="bigApp-button6" ion-button color="positive" style="border-radius:0px 0px 0px 0px;" on-click="goToMunicipios()">
    Ver Mas
  </button> -->
  <h4 id="bigApp-heading1" style="color:#000000;text-align:center;">
    Productos
  </h4>
  <ion-grid padding>
      <ion-row>
        <ion-col col-6 *ngFor="let producto of productos">
          <ion-card>
          <img src="http://192.168.1.61/bigApp/bigApp/web/uploads/producto/{{ producto.imagen }}"/>
          <ion-card-content>
            <ion-card-title>
              <h2>{{producto.nombre}}</h2>
              <p align="right" style="position:relative; top: -22px;">
                  <ion-icon align="right"  (click)="presentPopoverProducto($event)"  name="more"></ion-icon>
              </p>
              </ion-card-title>
            <p>
                {{ producto.descripcion }}
            </p>
          </ion-card-content>
        </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-grid *ngIf="spiner">
  <ion-row >  
    <ion-col col-12 text-center >
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-grid>
    