page-big-app {
 
    ion-slides {
        height:13em; 
        max-height: 300px;
        margin-top: -3px;
    }
     
    ion-card{
        display: table-cell;
        border: solid 1px #ffffff;
    }
    .scroll{
        width: 100%; 
        height: 13em;
    }
    .ancho {
        width: 46.5%;
    }
}
// .edit-opty-popover-producto .popover-content{
//     width: 150px !important;
//     height: 152px !important;
// }

// .padding1{
//     margin-left: 2px;
// }
