
<ion-content id="page1" class="color-fondo" >
  
  <ion-slides pager>
    
    <ion-slide *ngFor="let publicidad of publicidades">
        <img src="http://192.168.1.99/bigApp/bigApp/web/uploads/banerpublicidad/{{publicidad.url}}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </ion-slide>
  </ion-slides>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <div align="right" style="background-color: #ffffff">
        <br>
        <button on-click="goToMunicipiosEmpresa()" ion-button small clear color="secondary">Ver mas</button>
    </div>
    <ion-scroll scrollX="true" class="scroll">
        <ion-card *ngFor="let empresa of empresas">
            <ion-item>
              <ion-avatar item-start>
                <img on-click="goToEmpresa(empresa)" src="http://192.168.1.99/bigApp/bigApp/web/uploads/empresa/fotosLogo/{{empresa.logoEmpresa}}">
              </ion-avatar>
              <h2> 
                  {{empresa.nombreEmpresa}}
                  <p align="right" style="position:relative; top:-15px;">
                      <ion-icon align="right"  (click)="presentPopover($event)"  name="more"></ion-icon>
                  </p>
              </h2>
              <p style='margin-top: -16px;'>November 5, 1955  
                </p>
            </ion-item>
            <img on-click="goToEmpresa(empresa)" src="http://192.168.1.99/bigApp/bigApp/web/uploads/empresa/fotosPortada/{{empresa.portadaEmpresa}}">
        </ion-card>
    </ion-scroll>

  <h4 on-click="goToMunicipiosProducto()" id="bigApp-heading1" style="color:#000000;text-align:center;">
    Productos  <ion-icon ios="ios-options" md="md-options"></ion-icon>
  </h4>
<div class="padding1" *ngIf='show'>
  <ng-masonry-grid 
                  (onNgMasonryInit)="onNgMasonryInit($event)"
                  [masonryOptions]="{  columnWidth: 50 ,transitionDuration: '0.8s', gutter: 10}" 
                  [useAnimation]="false" 
                  [useImagesLoaded]="true"
                  [scrollAnimationOptions]="{ animationEffect: 'effect-1', minDuration : 0.4, maxDuration : 0.7 }">
    <!-- Masonry Grid Item -->
      <ng-masonry-grid-item class="ancho" id="{{'producto-'+producto.id}}" *ngFor="let producto of productos" > 
        <!-- Grid Content  --> 
        <ion-card>
            <img  src="http://192.168.1.99/bigApp/bigApp/web/uploads/producto/{{ producto.imagen }}"/>
            <ion-card-content>
              <ion-card-title>
                <h2>{{ producto.nombre }}</h2>
                <h3>${{ producto.valor }}</h3>

                <!-- <p align="right" style="position:relative; top: -22px;">
                    <ion-icon align="right"  (click)="presentPopoverProducto($event,producto)"  name="more"></ion-icon>
                </p> -->
                </ion-card-title>  
              <p> 
                  {{ producto.descripcion }} 
              </p>
            </ion-card-content>
            <div align="center">
                <ion-note align="center">
                 11h ago
                </ion-note>
            </div>
            <ion-row>
                <ion-col col-4>
                  <button on-click="goToChat()" style="color:#c62828" ion-button icon-start clear small>
                    <ion-icon name="text"></ion-icon>
                  </button>
                </ion-col>
                <ion-col col-4>
                  <button on-click="goToMap(producto)" ion-button icon-start clear small>
                    <ion-icon name="navigate" style="color:#8e0000"></ion-icon>
                  </button>
                </ion-col>
                <ion-col col-4>
                  <button on-click="goToEmpresa(producto.idEmpresa)" style="color:#ff5f52" ion-button icon-start clear small>
                    <ion-icon name="briefcase"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
        </ion-card>
      </ng-masonry-grid-item>
  </ng-masonry-grid>
</div>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
